* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: hsl(210, 46%, 95%);
  justify-content: center;
  align-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}
.left-containers {
  display: grid;
  width: 52rem;
  grid-template-columns: row;
  margin: 3rem 2rem 3rem 5rem;
}

.container2 {
  padding-right: 3rem;
}
.top-section {
  display: grid;
  grid-template-columns: auto auto;
  width: 52rem;
}
.bottom-section {
  display: grid;
  grid-template-columns: auto auto;
}
.author {
  display: grid;
  grid-template-columns: 3rem auto;
  font-size: 12px;
}

.auth-name > h3 {
  font-weight: 200;
  color: hsl(0, 7%, 97%);
}

.auth-name > p {
  color: hsl(0, 0%, 81%);
}

.Daniel {
  width: 35rem;
  background-color: hsl(263, 55%, 52%);
  border-radius: 8px;
  padding: 20px;
}

.Daniel,
.Jonathan,
.Patrick > div > h3 {
  color: white;
  font-weight: 300;
  padding: 15px;
}

.Daniel,
.Jonathan,
.Patrick > div > p {
  color: hsl(0, 0%, 81%);
  font-weight: 300;
  padding: 15px;
}

.Jonathan {
  width: 15rem;
  background-color: hsl(217, 19%, 35%);
  border-radius: 8px;
  padding: 20px;
}
.Jeanette {
  width: 15rem;
  margin: 1rem 0rem 1rem 0rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 20px;
}
.Jeanette .author > div > h3 {
  color: black;
  font-weight: 300;
}

.Jeanette > div > h3 {
  padding: 10px;
}
.Jeanette > div > p {
  color: hsl(0, 3%, 39%);
  font-weight: 300;
}

.Patrick {
  width: 35rem;
  margin: 1rem;
  background-color: hsl(219, 29%, 14%);
  border-radius: 8px;
  padding: 20px;
}

.Kira {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  margin: 3rem 0rem;
  padding: 20px;
  color: hsl(0, 2%, 27%);
  width: 19rem;
  height: 37rem;
}
.img img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.Kira > .author > div > h3 {
  color: black;
}

.Kira > div > p {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .Daniel,
  .Jeanette,
  .Jonathan,
  .Patrick {
    grid-column: 1 / span 1;
    min-height: 5rem;
    width: 20rem;
  }
  .Kira {
    margin-left: 6rem;
    margin-top: 0rem;
  }
}
